body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('image/patterns-trans.png'); /* Укажите путь к вашей PNG-картинке */
    background-repeat: repeat; /* Картинка будет повторяться по обеим осям */
    background-size: auto; /* Автоматический размер для оригинального соотношения сторон */
    height: 100vh; /* Высота body равна высоте окна просмотра */
    margin: 0; /* Убираем отступы */
    overflow: hidden;
}

#wrapper {
    display: block;
    width: calc(129px * 5);
    margin: 20px auto 0;
     background-color: white; /* Белый фон для контейнера */
     border-radius: 8px; /* Загругление углов */
    padding: 60px; /* Отступы */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
}
#roulette {
    border: 3px solid #000;
    overflow: hidden;
    height: 128px;
    white-space: nowrap;
    position: relative;
}
#roulette::after {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 128px;
	height: 128px;
	border: 3px solid #000;
	content: ' ';
	top: -3px;
}
#roulette .roulette-item {
    width: 128px;
    height: 128px;
    display: inline-block;
}
#roulette .roulette-item img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
}
#roulette-buttons {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}
#roulette-start {
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #4caf50;
    color: white;
    border-radius: 10px;
    font-family: 'Arial Black', sans-serif; /* Винтажный шрифт */
    cursor: pointer;
    font-size: 16px; /* Размер шрифта */
    font-weight: normal; /* Нормальное начертание шрифта */
    letter-spacing: 1px; /* Расстояние между буквами */
    transition: background-color 0.3s ease;
}

#roulette-start:hover {
    background-color: #45a049;
}

#roulette-start:active {
  transform: scale(0.98);
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    display: flex;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    max-width: 600px;
    position: relative;
    border-radius: 10px; /* Удаляем border-radius */
    height: 50%;
    display: flex; /* Добавляем flexbox */
    flex-direction: column; /* Располагаем контент вертикально */
    align-items: center; /* Центрируем контент по горизонтали */
    justify-content: center; /* Центрируем контент по вертикали */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute; /* Абсолютное позиционирование */
    top: 10px; /* Отступ сверху */
    right: 15px; /* Отступ справа */
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-text {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}
#modal-image-container {
    text-align: center;
    margin-top: 10px;
    justify-content: center;  /* Центрируем по горизонтали */
    align-items: center;  /* Центрируем по вертикали */
    padding: 10px;  /* добавляем отступы  */
}

#modal-image {
    max-width: 250px; /* Увеличиваем максимальную ширину */
    max-height: 250px; /* Увеличиваем максимальную высоту */
    width: 350px; /* чтобы сохранялось соотношение сторон */
    height: 350px; /* чтобы сохранялось соотношение сторон */

}

@media (max-width: 600px) {
    body {
       overflow: hidden;
    }
    #wrapper {
	width: 128px;
        /* rotate: 90deg; */
    }

    #roulette {
        height: calc(128px * 5); /* Высота для всех элементов рулетки */
        overflow: hidden; /* Скрываем лишние элементы */
        white-space: nowrap; /* Элементы располагаются в одну линию */
	width: 128px;
    }

    #roulette .roulette-item {
        display: block; /* Каждый элемент занимает всю ширину */
        width: 100%; /* Ширина элемента на всю ширину контейнера */
        height: 128px; /* Фиксированн ая высота для каждого элемента */
    }

    #roulette .roulette-item img {
	width: auto;
        height: 100%; /* Высота изображения на всю высоту элемента */
        display: block; /* Убираем пробелы под изображением */
    }

    #roulette::after {
    position: absolute;
    left: 50%; /* Центрируем по горизонтали */
    top: 50%; /* Центрируем по вертикали */
    transform: translate(-50%, -50%); /* Сдвигаем на половину ширины и высоты для точного центрирования */
    width: 128px; /* Ширина псевдоэлемента */
    height: 128px; /* Высота псевдоэлемента */
    border: 3px solid #000;
    content: ' '; /* Псевдоэлемент должен иметь контент */
    }
    .modal-content {
    height: 30%;
    width: 60%;
    }
    #modal-image {
    max-width: 150px;
    max-height: 150px;
    width: 150px;
    height: 150px;
    }
}

.container {
  height: 93.75em; /* 37.5 * 2.5 */
  width: 78.125em; /* 31.25 * 2.5 */
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 35%;
}
.cup {
  height: 39.0625em; /* 15.625 * 2.5 */
  width: 29.6875em; /* 11.875 * 2.5 */
  background: linear-gradient(
    to top,
    #8c5b33 30%,
    #b5a581 30%,
    #b5a581 80%,
    #8c5b33 80%
  );
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 39.0625em; /* 15.625 * 2.5 */
  clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
  overflow: hidden;
}
.cup:after {
  position: absolute;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  height: 43.75em; /* 17.5 * 2.5 */
  width: 15.625em; /* 6.25 * 2.5 */
}
.heart {
  background-color: #ffff;
  height: 6.25em; /* 2.5 * 2.5 */
  width: 6.25em; /* 2.5 * 2.5 */
  position: absolute;
  margin: auto;
  left: 1.5625em; /* 0.625 * 2.5 */
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 0 1.5625em 0; /* 0.625 * 2.5 */
}
.heart:before,
.heart:after {
  position: absolute;
  content: "";
  height: 60%;
  width: 100%;
  background-color: #cd4036;
  border-radius: 23.4em 23.4em 0 0; /* 9.36 * 2.5 */
}
.heart:before {
  top: -59%;
}
.heart:after {
  transform: rotate(-90deg);
  right: 78%;
  top: 20%;
}
.lid {
  height: 4.6875em; /* 1.875 * 2.5 */
  width: 34.375em; /* 13.75 * 2.5 */
  background: linear-gradient(to right, #592c10 53%, #4e2919 53%);
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 34.375em; /* 13.75 * 2.5 */
  border-radius: 0.75em; /* 0.3 * 2.5 */
}
.lid:before {
  position: absolute;
  content: "";
  height: 3.90625em; /* 1.5625 * 2.5 */
  width: 28.125em; /* 11.25 * 2.5 */
  background: linear-gradient(to right, #592c10 54%, #4e2919 54%);
  bottom: 3.575em; /* 1.43 * 2.5 */
  transform: translateX(-50%);
  left: 50%;
  border-radius: 0.75em 0 0 0; /* 0.3 * 2.5 */
}
.lid:after {
  position: absolute;
  content: "";
  height: 0;
  width: 3.90625em; /* 1.5625 * 2.5 */
  bottom: 6.25em; /* 2.5 * 2.5 */
  border-bottom: 4.6875em solid #4e2919; /* 1.875 * 2.5 */
  border-left: 12.5em solid transparent; /* 5 * 2.5 */
  left: 14.83em; /* 11.875 * 2.5 */
  z-index: -1;
}